/*
HamburgerMenu ☰ A responsive CSS solution
github.com/center-key/hamburger-menu
License: MIT
*/

html {
   font-size: 100%;
   font-family: system-ui, sans-serif;
   color: #333333;
   }
body >main >h1,
body >main >h2,
body >footer {
   text-align: center;
   padding: 20px;
   }
body >footer i.font-icon {
   font-size: 1.6rem;
   color: teal;
   margin: 0px 8px;
   transition: color 400ms;
   }
body >footer i.font-icon:hover {
   color: blueviolet;
   }

nav.hamburger-menu aside ul li i.font-icon {
   width: 1.5em;
   }
nav.hamburger-menu aside ul li.current >*:first-child >i.font-icon {
   color: gold;
   }
